<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/magic.js"></script>
<h1>ID: <%=quote%> </h1>
<h1>Special Customers' ID: <%=sc%> </h1>
<form method="post" id="changeQuote">
    <input type="text" placeholder="Set quote of the day" name="quote"/>
    <input type="submit" value="search">
</form>	
<!DOCTYPE html>
<html>
<head>
	<title>CUSTOMER'S INFORMATION</title>
		
	
</head>
<body>
		<form>
			<fieldset>
				<legend><h1>CUSTOMER'S INFORMATION</h1></legend>
				<table border="1">
		<% for(var i=0; i < userList.length; i++){ if(quote==userList[i].id ){ %>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>email</th>		
			<th>gender</th>
			<th>education</th>
		</tr>

		
		<tr>
			<td><%= userList[i].id %></td>
			<td><%= userList[i].username %></td>
			<td><%= userList[i].email %></td>
			<td><%= userList[i].gender %></td>
			<td><%= userList[i].education %></td>
			
		</tr>
		<% }
		} %>
		
	</table><br/>
				
				<a href="/home">Back</a>
				
			</fieldset>
			
		</form>
</body>
</html>