<!DOCTYPE html>
<html>
<head>
	<title>AVAILABLE TUITION</title>
		
	
</head>
<body>
		<form>
			<fieldset>
				<legend><h1>AVAILABLE PRODUCTS</h1></legend>
				<table border="1">
		<tr>
			<th>id</th>
			<th>area</th>
			<th>quantity</th>		
			<th>Price</th>
			<th>Product Name</th>
			<th></th>
		</tr>

		<% for(var i=0; i < userList.length; i++){ %>
		<tr>
			<td><%= userList[i].id %></td>
			<td><%= userList[i].area %></td>
			<td><%= userList[i].quantity %></td>
			<td><%= userList[i].price%></td>
			<td><%= userList[i].product_name%></td>
				
			<td><a href="/home/request/<%= userList[i].id %>"> BUY </a></td>
		
			
		</tr>
		<% } %>
	</table><br/>
				
				<a href="/home">Back</a>
				
			</fieldset>
			
		</form>
</body>
</html>