<!DOCTYPE html>
<html>
<head>
	<title>SALARY</title>
		
		<style type="text/css">	
	table{
	border-collapse: collapse;
	width: 100%;
	color: #d96459;
	font-family: monospace;
	font-size: 25px;
	text-align: left;
	}
	th{
		background-color: #d96459;
		color: white;
		}
		tr:nth-child(even) {background-color: #f2f2f2;}
 
	
</style>

</head>
<body>
	

	
	<fieldset>
	
	<legend><h1>SALARY</h1></legend>

	<table id="table" border="1">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>salary</th>		
			<th>operations</th>
		
		</tr>
      <% for(var i=0; i < results.length; i++){ %>
		
		<tr>
			<td><%= results[i].id %></td>
			<td><%= results[i].name %></td>
			<td><%= results[i].salary %></td>
			
			<td><a href="/home/salary/edit/<%= results[i].id %>">Edit</a> | <a href="/home/salary/delete/<%= results[i].id %>"> Delete </a></td>
		</tr>
		<% } %>
	</table>

	
	<br/>
	<a href="/home/salary/insert">Insert</a>
	<a href="/home">Back</a>
	</fieldset
</body>
</html>
