<!DOCTYPE html>
<html>
<head>
	<title>Offer SCHEDULE</title>

<% var quantity=0 %>

</head>
<body>
<fieldset>
	<div id="ph">
	
			
				<legend><h1>Cash Back Product</h1></legend>
				Total products: <%= results.length %>
				
				<br/><br/>
				
			<table border="1">
		<tr>
			<th>id</th>
			<th>Product Name</th>
			<th>day</th>		
			<th>quantity</th>
			<th>operations</th>
		
		</tr>
		<% 
		%>
      <% for(var i=0; i < results.length; i++){ quantity=quantity+results[i].quantity;
	%>
		
		<tr>
			<td><%= results[i].id %></td>
			<td><%= results[i].product_name %></td>
			<td><%= results[i].day %></td>
			<td><%= results[i].quantity %></td>
			
			<td><a href="/home/schedule/delete/<%= results[i].id %>"> Delete </a></td>
		</tr>
		<% } %>Total Quantity: <%= quantity%>
	</table>
	</div>
	<br/>	
		<a href ='/home/schedule/insert'>Insert</a>	<a href="javascript:pdfToHTML()">Save as PDF</a><br/><br/>		
	<a href ='/home'>Back</a>	
	</fieldset>
	
</body>


<script src="/assets/jquery-2.1.3.js"></script>
<script src="/assets/pdfFromHTML.js"></script>
<script src="/assets/jspdf.js"></script>
</html>